@media screen and (min-width:769px) {
    .nav {
        width: 100%;
        text-align: center;
        height: 50px;
        background: #2057C5;
        overflow: hidden;
        a {
            display: inline-block;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            margin: 0 30px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:769px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 0.8rem;
        background: #2057C5;
        span {
            color: #fff;
        }
        a {
            color: #fff;
        }
    }
}