@media screen and (min-width:769px) {
    .swiper {
        @mixin focus-pic-size {
            width: 850px;
            height: 480px;
        }
        @include focus-pic-size;
        overflow: hidden;
        position: relative;
        margin-bottom: 40px;
        .swiper-slide {
            @include focus-pic-size;
            position: relative;
            img {
                @include focus-pic-size;
            }
            p {
                background: url(./assets/bg_6.png) left bottom repeat-x;
                font-size: 28px;
                line-height: 56px;
                height: 56px;
                padding: 50px 0 14px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        @mixin arr {
            width: 40px;
            height: 60px;
            opacity: 0.8;
            transition: all ease-out 0.4s;
            &::after {
                content: "";
            }
        }
        .swiper-button-next {
            @include arr;
            right: 0;
            border-radius: 5px 0 0 5px;
            background: url(./assets/rarr.png) center center no-repeat #000;
            &:hover {
                background: url(./assets/rarr.png) center center no-repeat #FD3A43;
            }
        }
        .swiper-button-prev {
            @include arr;
            left: 0;
            border-radius: 0 5px 5px 0;
            background: url(./assets/larr.png) center center no-repeat #000;
            &:hover {
                background: url(./assets/larr.png) center center no-repeat #FD3A43;
            }
        }
        .swiper-pagination-bullet {
            background: #e9e9e9;
        }
        .swiper-pagination-bullet-active {
            border-radius: 4px;
            padding: 0 5px;
            background: #FD3A43;
        }
    }
}

@media screen and (max-width:769px) {
    @mixin focus-size {
        width: 7rem;
        height: 3.9rem;
    }
    .swiper {
        @include focus-size;
        margin: 0 auto 0.2rem;
        position: relative;
        overflow: hidden;
        img {
            @include focus-size;
        }
        .swiper-slide {
            @include focus-size;
            position: relative;
            p {
                position: absolute;
                text-align: center;
                left: 0;
                bottom: 0;
                width: 100%;
                font-size: 0.32rem;
                line-height: 0.5rem;
                height: 0.5rem;
                padding: 0.8rem 0 0 0;
                margin: 0;
                background: url(./assets/bg_6.png) bottom left repeat-x;
                background-size: contain;
                a {
                    color: #fff;
                }
            }
        }
        #swiper-pagination {
            position: absolute;
            right: 0.1rem;
            top: 0.1rem;
            left: auto;
            bottom: auto;
            background: #333;
            width: auto;
            border-radius: 0.08rem;
        }
        .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
            border-radius: 0.08rem;
        }
        .swiper-pagination-bullet-active {
            background: #FD3A43;
            padding: 0 5px;
        }
    }
}