@media screen and (min-width:769px) {
    .grey-block {
        background: #fafafa;
        margin-bottom: 20px;
        width: 300px;
        padding-top: 12px;
        overflow: hidden;
        .swiper-slide {
            height: 462px;
        }
    }
    .rp-item-1 {
        img {
            width: 300px;
            height: 165px;
        }
        dl {
            padding: 15px 20px;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 10px;
            a {
                color: #333;
            }
        }
        dd {
            font-size: 14px;
            line-height: 28px;
            color: #999;
        }
    }
    .rp-item-2 {
        ul {
            margin: 0 20px 0 40px;
            font-size: 16px;
            line-height: 24px;
        }
        li {
            list-style-type: disc;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width:769px) {
    .grey-block {
        display: none;
    }
}