@mixin summary_1 {
    font-size: 14px;
    line-height: 28px;
    color: #999;
    a {
        color: #5F7FF6;
    }
}

@media screen and (min-width:769px) {
    // default
    .article-item,
    .article_info,
    .article_subtitle {
        display: none;
    }
    .module {
        margin-bottom: 20px;
    }
    .module-title {
        font-size: 22px;
        line-height: 26px;
        border-left: 3px solid #5F81F6;
        height: 26px;
        padding-left: 8px;
        margin: 0 0 17px 0;
        font-weight: bold;
        color: #333;
    }
}

@media screen and (max-width:769px) {
    .module {
        display: none;
    }
}

@import "./modules/01.mode1";
@import "./modules/02.mode2";
@import "./modules/03.mode3";
@import "./modules/04.script1";
@import "./modules/05.script2";
@import "./modules/06.script3";
@import "./modules/07.script4";