a {
    color: #000;
}

@mixin clear-both {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (min-width:769px) {
    @mixin fl {
        float: left;
        width: 850px;
    }
    @mixin fr {
        float: right;
        width: 300px;
        overflow: hidden;
    }
    .list-left {
        @include fl;
    }
    .list-right {
        @include fr;
    }
    .wrapper {
        @include clear-both;
        width: 1200px;
        margin: 0 auto;
    }
    .title_1 {
        font-size: 22px;
        line-height: 26px;
        border-left: 3px solid #5F81F6;
        height: 26px;
        padding-left: 8px;
        margin: 0 0 17px 0;
        font-weight: bold;
        color: #333;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 312.5%;
        -webkit-text-size-adjust: none;
    }
    body {
        font-family: Arial, sans-serif;
        font-size: .28rem;
        color: #000;
        -webkit-text-size-adjust: none;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    img {
        border: none;
        width: 100%;
        height: auto;
    }
    .wrapper {
        width: 100%;
        overflow: hidden;
    }
    .title_1 {
        width: 7rem;
        margin: 0 auto;
        height: 0.9rem;
        line-height: 0.9rem;
        font-size: 0.36rem;
    }
}