//mode-1
.mode-1 {
    width: 1240px;
    @include clear-both;
    .article-item {
        @include clear-both;
        width: 580px;
        float: left;
        margin: 0 40px 60px 0;
    }
    .article-item:nth-child(-n+7) {
        display: block;
    }
    .article_pic,
    .article_pic img {
        width: 250px;
        height: 140px;
        float: left;
    }
    .article_title,
    .article_summary {
        width: 310px;
        float: right;
    }
    .article_title {
        a {
            color: #333;
        }
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }
    .article_summary {
        @include summary_1
    }
}