//mode-2
.mode-2 {
    width: 1240px;
    @include clear-both;
    .article-item {
        @include clear-both;
        width: 580px;
        float: left;
        margin: 0 40px 15px 0;
    }
    .article-item:nth-child(-n+9) {
        display: block;
    }
    .article_title {
        a {
            color: #333;
        }
        font-size: 20px;
        line-height: 30px;
    }
    .article_pic,
    .article_summary {
        display: none;
    }
}