//swiper-3
.script-3 {
    width: 1199px;
    overflow: hidden;
    position: relative;
    .swiper-wrapper {
        width: 1199px;
        height: 400px;
        .article-item {
            display: block;
            padding-right: 1px;
            position: relative;
            width: 400px;
            height: 400px;
            img {
                width: 399px;
                height: 400px;
            }
            .article_title {
                position: absolute;
                z-index: 5;
                width: 300px;
                height: 40px;
                font-size: 32px;
                line-height: 40px;
                overflow: hidden;
                right: 20px;
                bottom: 80px;
                font-weight: bold;
                a {
                    color: #1F57C5;
                }
            }
            .article_summary {
                position: absolute;
                z-index: 3;
                right: 1px;
                bottom: 0;
                width: 300px;
                padding: 55px 20px 0;
                height: 75px;
                background: url(./assets/bg_16.png);
                font-size: 16px;
                line-height: 22px;
                color: #333;
            }
        }
    }
    .larr {
        width: 40px;
        height: 60px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        background: url(./assets/larr.png) center center no-repeat #000;
        cursor: pointer;
        opacity: 0.5;
        z-index: 5;
        border-radius: 0 8px 8px 0;
        transition: all 0.5s ease-out;
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }
    .rarr {
        width: 40px;
        height: 60px;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -10px;
        background: url(./assets/rarr.png) center center no-repeat #000;
        cursor: pointer;
        opacity: 0.5;
        z-index: 5;
        border-radius: 8px 0 0 8px;
        transition: all 0.5s ease-out;
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }
}